.amenities,
.reviews {
  margin-top: 40px;
}

.amenities h2,
.reviews h2 {
  font-size: 16px;
  border-bottom: 1px solid #DDDDDD;
  padding-bottom: 5px;
}

.amenities ul,
.reviews ul {
  list-style-type: none;
  padding-left: 0;
}

.amenities li,
.reviews li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.amenities li img,
.reviews li img {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

.reviews h3 {
  font-size: 14px;
  margin-bottom: 5px;
}

.reviews p {
  font-size: 12px;
  margin: 0;
}
